ul>li{
    width: fit-content;
}
ul>li:hover{
    box-shadow: 5px 5px rgb(155, 146, 148);
    border-radius: 5px;
}

.mapouter{
    margin: auto;
    max-width: 50%;
}
@media (max-width: 800px){
    .mapouter{
        padding: 0;
    }
}